.question-card {
  border-bottom: 1px solid hsl(210, 8%, 85%);
  padding: 16px;
  display: flex;
}

.question-card:first-child {
  border-top: 1px solid hsl(210, 8%, 85%);
}

.counts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 13px;
  color: #6a737c;
  margin: 0 16px 4px 0;
  width: 108px;
}

.counts span {
  margin-bottom: 5px;
}

.question {
  color: hsl(206deg 100% 40%);
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 5px;
  cursor: pointer;
}

.question:hover {
  color: hsl(206deg 100% 52%);
  
}

.question-content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width:100%;

}

.author-container {
  text-align: end;
  margin-top: 6px;

}

.author-container > * {
  margin-left: 2px;
  font-size: 12px;
  color: #6a737c;
}

.score {
  color: #525960;
  font-size: 12px;
  font-weight: 900;
  margin: 0 3px;
}

.question-body{
  font-size: 12.2px;
  color: #3b4045;
}

.tag-author-container{
  margin-top: 8px;
}

@media screen and (max-width:640px) {

  .question{
    font-size: 14px ;
  }

  .question-card{
    flex-direction: column;
  }
  
  .counts{
    flex-direction: row;
    width: auto;
  }

  .counts span{
    font-size: 12px;
   margin-right: 4px;

  }
}