.profile-page-container{
    margin-left: 164px;
    padding: 24px;
    padding-top: 0;
    width: 100%;

}

.profile-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

.user-details-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.edit-pencil-logo{
    filter: invert(45%) sepia(12%) saturate(328%) hue-rotate(169deg) brightness(97%) contrast(97%);
    margin-right: 4px;
}


.user-details-container > *{
    margin: 8px;
}

.name-header h1{
    margin: 4px 4px 12px ;
    font-size: 34px;
    font-weight: 500;
    color: #232629;
}


.mute{
    font-size: 12px;
    color: #6A737C;
    margin: 4px 4px 12px 6px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.edit-profile-btn{
    color: #6A737C;
    font-size: 12px;
    padding: 9.6px;
    border-radius: 3px;
    background: none;
    border: 1px solid hsl(210deg 8% 65%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-profile-btn:hover{
    background-color: hsl(210deg 8% 98%);
}

.edit-profile-btn:focus{
    outline: none;
    color: hsl(210deg 8% 45%);
    box-shadow: 0 0 0 4px hsla(210,8%,15%,0.1);

}


@media screen and (max-width:840px) {
 
    
    .user-details-container{
      flex-direction: column;
     align-items: flex-start;
    }

    .name-header h1{
        font-size: 34px;
    }

    .user-details{
        margin-left: 0;
    }


    
}


@media screen and (max-width:640px) {
    .profile-page-container{
        margin-left: 0;
      
    
    }
    
}